html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#page {
	width: 100%;
	height: 100%;
}

#header {
	position: absolute;
	height: 50px;
}

#container {
	display: table;
	width: 100%;

	padding-top: 50px;
}

#manager, #explorer {
	display: table-cell;

	border: 1px solid black;
}

#manager {
	width: 200px;

	background-color: #EEEEEE;
}

#footer {
	width: 100%;
}

#footer .head {
	border-top: 7px solid #CCCCCC;
	height: 20px;
}

#footer .body {
	height: 150px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.resizable-helper {
	border-right: 4px solid black;
}