html, body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#page {
	width: 100%;
}

#header {
	background-color: #EEEEEE;
	height: 50px;
	width: 100%;
}

#main {
	display: table;
	width: 100%;
}

#sidebar {
	display: table-cell;
	background-color: green;
	width: 150px;
}

#content {
	display: table-cell;
	background-color: red;
}

#footer {
	width: 100%;
	background-color: orange;
	height: 50px;
}

.ui-resizable-helper { border-right: 5px solid #DDDDDD; }