@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}

@font-face {
	font-family: 'Archivo Black';
	font-style: normal;
	font-weight: 400;
	src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(ArchivoBlack.woff) format('woff');
}

.widget_clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	display: block;
}