.widget_splitpane {
	white-space: nowrap;
	overflow: hidden;
}

.widget_splitpane_left {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_leftpane_block {
	display: inline-block;
	height: 100%;
	overflow: hidden;
}

.widget_splitpane_right {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_rightpane_block {
	display: inline-block;
	height: 100%;
	overflow: hidden;
}

.widget_splitpane_resizebar {
	display: inline-block;
	width: 5px;
	height: 100%;

	cursor: e-resize;
	background-color: #E1E1E1;
}