.widget_splitpane_container {
	white-space: nowrap;
	overflow: hidden;
}

.widget_splitpane_left {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_leftpane_block {
	display: inline-block;
	height: 100%;
	overflow: hidden;
}

.widget_splitpane_right {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
}

.ui-resizable-helper { border-right: 2px solid #DDDDDD; }

.ui-resizable-e {
	width: 10px;
	background-color: #DDDDDD;
}