.tree img {
	width: 29px;
	height: 27px;
	margin-left: 3px;
}

.tree {
	white-space: nowrap;
	font-size: 13px;
}

.tree_row {
	margin: 0px;
	padding: 0px;
	height: 24px;
	line-height: 23px;
}

.tree_item {
	display: inline-block;
	padding: 4px 16px 0px 5px;
	margin-left: -5px;
	text-overflow: clip;
	box-sizing: border-box;
	vertical-align: top;

	height: 24px;
	line-height: 16px;
}

.tree_item:hover {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 3px 16px 0px 4px;
}

.widget_tree_selected {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 3px 16px 0px 4px;
}

.item_image {
	position: relative;
	top: -5px;
	margin-left: 0px !important;
	margin-right: 2px;
	background-image: url('image/folder_new.gif');
	background-size: 27px 24px;
}

.widget_tree_selected .item_image {
	background-image: url('image/folder-opened.gif');
}

.icon {
	display: inline-block;
	width: 27px;
	height: 24px;
	margin-left: 3px;
	background-size: 27px 24px;
	background-repeat: no-repeat;
}

.elbow-blank {
	background-image: url('image/elbow-blank.png');
}

.elbow-line {
	background-image: url('image/elbow-line.png');
}

.tree_end.tree_minus {
	background-image: url('image/elbow-end-minus.png');
}

.tree_minus {
	background-image: url('image/elbow-minus.png');
}

.tree_end.tree_plus {
	background-image: url('image/elbow-end-plus.png');
}

.tree_plus {
	background-image: url('image/elbow-plus.png');
}

.elbow-end {
	background-image: url('image/elbow-end.png');
}

.elbow {
	background-image: url('image/elbow.png');
}