.widget_grid_container {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: auto;

	border: 1px solid #E5E5E5;

	font-size: 13px;
}

.widget_grid_cell, .widget_grid_placeholder {
	display: inline-block;
	overflow: hidden;

	padding: 5px 7px 5px 9px;
	margin: 0px;
	line-height: 20px;

	border-right: 1px solid #E5E5E5;
}

.widget_grid_header_row {
	position: absolute;
	overflow: hidden;

	background-color: #B8BCBF;
	color: #FFFFFF;
	text-shadow: #a4a39f 0px 1px 0px;
}

.widget_grid_header_cell {
	vertical-align: top;
	line-height: 19px;
}

.widget_grid_body {
	width: 100%;
	height: 100%;
}

.widget_grid_body_row, .widget_grid_header_row {
	border-bottom: 1px solid #E5E5E5;
	cursor: default;
	padding: 0px;
	margin: 0px;
	height: 30px;
	z-index: 1;
}

.widget_grid_body_row_even {
	background-color: #F7F8FA;
}

.ocp_gd_row_hover {
	background-color: #E9E9E9;
}

.ocp_gd_selected {
	background-color: #FFFFCE;
}

.widget_grid_body_row .widget_grid_cell {
	border-color: transparent;
}

.widget_grid_thumbnail {
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-size: 20px 20px;
}

.widget_grid_placeholder {
	background-color: #3E3E3E;
}

.widget_grid_sortable {
	cursor: default;
}

.widget_grid_col_drag {
	display: inline-block;
	cursor: default;
}

.ui-resizable-helper {
	border-right: 2px solid #000000;
}

.ui-sortable-helper {
	background-color: #B7B7B7;
}

.widget_grid_cell .ui-resizable-e {
	width: 10px;
	background-color: transparent;
}




