.widget_splitpane {
	overflow: hidden;
}

.widget_splitpane_top {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.widget_splitpane_bottom {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.widget_splitpane_resizebar {
	height: 5px;
	width: 100%;

	cursor: n-resize;
	background-color: #E1E1E1;
}