.widget_splitpane {
	white-space: nowrap;
	overflow: hidden;
}

.widget_splitpane_top {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_splitpane_bottom {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_splitpane_resizebar {
	display: inline-block;
	height: 5px;
	width: 100%;

	cursor: n-resize;
	background-color: #E1E1E1;
}