.ocp_pool_viewer table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

.ocp_pool_viewer table tr:nth-child(even) {
	background-color: #FAFAFA;
}

.ocp_pool_viewer .title {
	vertical-align: top;
	text-align: right;
	width: 100px;
	padding: 5px;
}

.ocp_pool_viewer .block {
	display: inline-block;
	height: 16px;
	min-width: 40px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	font-size: 13px;
	padding: 0px;

	margin: 5px;

	text-align: center;
	line-height: 16px;
}

.ocp_pool_viewer .ocp_pv_thread_block {
	color: white;
	background-color: #D9290B;
}

.ocp_pool_viewer .ocp_pv_task_block {
	background-color: #00E600;
	padding: 0px 10px;
	color: white;
}

.ocp_pool_viewer .ocp_pv_active_task_block {
	background-color: #00E600;
	padding-right: 10px;
	color: white;
}

.ocp_pool_viewer .ocp_pv_active_task_block .ocp_pv_thread_block {
	margin: 0px;
	margin-right: 5px;
}