.widget_grid_container {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: auto;

	border: 1px solid black;
}

.widget_grid_sortable {
	cursor: default;
}

.widget_grid_col_drag {
	display: inline-block;
	cursor: default;
}

.widget_grid_header_row {
	position: absolute;
	padding: 0px;
	margin: 0px;
	overflow: hidden;

	background-color: #E1E1E1;
}

.widget_grid_header_cell {

}

.widget_grid_body{
	width: 100%;
	height: 100%;
}

.widget_grid_row {
	border-bottom: 1px solid black;
}

.widget_grid_row:last-child {
	border-bottom: none;
}

.widget_grid_row:first-child {
	border-left: none;
}

.widget_grid_body_row {

}

.widget_grid_cell:last-child {
	border-right: 1px solid black;
}

.widget_grid_cell {
	display: inline-block;
	overflow: hidden;

	padding: 3px 5px;

	border-left: 1px solid black;
}

.widget_grid_cell:first-child {
	border-left: none;
}

.ui-resizable-helper {
	border-right: 2px solid #000000;
}

.ui-resizable-e {
	width: 10px;
}

.widget_grid_placeholder {
	display: inline-block;
	padding: 3px 5px;
	margin: 0px;
	background-color: #3E3E3E;
}

.ui-sortable-helper {
	background-color: #B7B7B7;
}