.widget_splitpane_h {
	white-space: nowrap;
	overflow: hidden;
}

.widget_splitpane_h_left {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_splitpane_h_right {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

.widget_splitpane_h_resizebar {
	display: inline-block;
	width: 5px;
	height: 100%;

	cursor: e-resize;
	background-color: #E1E1E1;
}