html {
	overflow: hidden;
}

body {
	overflow: auto;
}

.widget_dialog_overlay {
	background-color: black !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4c4c4c), color-stop(100%, #000000));
	background: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
	background: -o-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
	background: -ms-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
	background: radial-gradient(ellipse at center, #4c4c4c 0%, #000000 100%);
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
	width: 100%;
	height: 100%;

	border: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.widget_dialog_frame {
	position: absolute;
	z-index: 100;
	background-color: #FFFFFF;
	overflow: hidden;

	-moz-box-shadow: 0px 0px 0px 5px rgba(21,20,19,0.5);
	-webkit-box-shadow: 0px 0px 0px 5px rgba(21,20,19,0.5);
	box-shadow: 0px 0px 0px 5px rgba(21,20,19,0.5);
	border-radius: 8px 8px 8px 8px;
}

.widget_dialog_header {
	height: 30px;
	background-color: #D8290A;
	color: #FFFFFF;
	cursor: move;
	line-height: 28px;

	padding: 1px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.widget_dialog_close {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	background-image: url(image/close-usual.png);
	cursor: pointer;
}

.widget_dialog_content {
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.widget_dialog_footer {
}

.widget_dialog_button {
	float: right;
	height: 30px;
	margin: 5px 10px;
	padding: 1px 30px 3px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	color: black;
	text-align: center;
	line-height: 28px;

	background-color: #DADEE1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.widget_dialog_button:hover {
	color: #FFFFFF;
	background-color: #D8290A;
}