
html, body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#page {
	width: 100%;
}

#header {
	background-color: #EEEEEE;
	height: 50px;
	width: 100%;
}

#main {
	width: 100%;
	font-size: 0;
	white-space: nowrap;
}

#sidebar {
	display: inline-block;
	width: 150px;
	background-color: #EEFFFF;
	overflow: hidden;
	padding: 0px;
	vertical-align: top;
}

#sidebar_block {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: inline-block;
	overflow: hidden;
}

#content {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: inline-block;
	background-color: #FFEEFF;
	vertical-align: top;
	overflow: hidden;
}

#footer {
	width: 100%;
	background-color: #FFFFEE;
	height: 50px;
}

.ui-resizable-helper { border-right: 2px solid #DDDDDD; }

.ui-resizable-e {
	width: 10px;
	background-color: #DDDDDD;
}
