#account_management_page {
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	font-size: 13px;
	padding: 0px;
}

#ocp_am_body {
	white-space-collapse: discard;
}

#ocp_am_sidebar {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-top: 20px;
}

a.ocp_am_link {
	display: block;
	width: 200px;

	margin-left: auto;
	margin-right: 0px;
}

.ocp_am_link_button {
	position: relative;
	width: 182px;
	height: 43px;
	margin-bottom: 6px;
	padding: 0 10px 0 46px;

	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 14px;
	line-height: 40px;
	color: #383A3D;
	background-image: url(image/account_sprite.png);
	background-repeat: no-repeat;
}

#ocp_am_details_button .ocp_am_link_button {
	background-position: 9px -2px;
}

#ocp_am_transfer_button .ocp_am_link_button {
	background-position: 9px -1275px;
}

#ocp_am_vouchers_button .ocp_am_link_button {
	background-position: 9px -882px;
}

#ocp_am_session_button .ocp_am_link_button {
	background-position: 9px -42px;
}

.ocp_am_link_button:hover, .ocp_am_link.selected > .ocp_am_link_button {
	top: -1px;
	left: -1px;

	color: #D8280B;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	background-color: #FFFFFF;
}

#ocp_am_details_button .ocp_am_link_button:hover, #ocp_am_details_button.selected .ocp_am_link_button {
	background-position: 9px -122px;
}

#ocp_am_transfer_button .ocp_am_link_button:hover, #ocp_am_transfer_button.selected .ocp_am_link_button {
	background-position: 9px -1235px;
}

#ocp_am_vouchers_button .ocp_am_link_button:hover, #ocp_am_vouchers_button.selected .ocp_am_link_button {
	background-position: 9px -962px;
}

#ocp_am_session_button .ocp_am_link_button:hover, #ocp_am_session_button.selected .ocp_am_link_button {
	background-position: 9px -162px;
}

.ocp_am_link_button:hover:after, .selected .ocp_am_link_button:after {
	z-index: 1;
	content: " ";

	position: absolute;
	top: 12px;
	right: -21px;
	width: 9px;
	height: 18px;

	background-image: url(image/account_sprite.png);
	background-position: -183px -281px;
	background-repeat: no-repeat;
}

#ocp_am_content {
	display: inline-block;
	vertical-align: top;
	min-height: 40px;
	background-image: url(image/account_bg.png);
	border-left: 1px solid #DDDDDD;
	padding: 40px;
}