#cover_page {
	position: relative;
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 700px;
}

.ocp_cv_top {
	width: 100%;
	position: absolute;
	height: 44%;
	text-align: center;
}

.ocp_cv_top_block {
	width: 100%;
	position: absolute;
	bottom: 115px;
	text-align: center;
}

.ocp_cv_title, a.ocp_cv_title:link, a.ocp_cv_title:link,
a.ocp_cv_title:visited, a.ocp_cv_title:hover, a.ocp_cv_title:active {
	text-transform: uppercase;
	color: #DA1A13;
	font-size: 50px;
	margin: 0;
	padding: 0;
	line-height: 68px;
	font-weight: normal;
	display: block;
	text-align: center;
	text-decoration: none;
}

.ocp_cv_subtitle {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	color: #646464;
	padding: 13px 0 0 0;
	margin: 0;
	font-weight: normal;
}

.ocp_cv_middle {
	width: 100%;
	height: 56%;
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
}

.ocp_cv_bottom-bg {
	width: 100%;
	height: 100%;
	background-color: white;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.ocp_cv_button {
	position: absolute;
	z-index: 1;
	width: 600px;
	height: 150px;
	top: 0;
	overflow: hidden;
	margin: -75px 0 0 -300px;
	left: 50%;
	background-color: #ED2C1F;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 0 #C90101, 0 0 0 1px rgba(140,1,1,.6), 0 0 0 5px #F9F9FA;
	background-image: linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -o-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -moz-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -webkit-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -ms-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
}

.ocp_cv_ocp {
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	z-index: 1;
	width: 600px;
	height: 150px;
	line-height: 150px;
	overflow: hidden;
	margin: -75px 0 0 -300px;

	font-family: 'Archivo Black';
	font-style: italic;
	font-size: 100px;
	color: #FFE6E6;
	text-shadow: 1px 1px 2px #FFFFFF;
	letter-spacing: 15px;
}

.ocp_cv_txt {
	position: absolute;
	z-index: 1;
	width: 760px;
	height: 160px;
	top: 0;
	overflow: hidden;
	left: 50%;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: center -541px;
	margin: -80px 0 0 -370px;
	background-repeat: no-repeat;
}

.ocp_cv_cursor {
	width: 208px;
	height: 111px;
	right: 50%;
	top: 0;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: -4px -88px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	margin: 51px -430px 0 0;
}

.ocp_cv_shadow {
	width: 900px;
	height: 41px;
	right: 50%;
	top: 0;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	margin: 95px -450px 0 0;
}

.ocp_cv_bottom {
	height: 160px;
	background-image: url(https://eu.static.mega.co.nz/images/mega/register_sprite4.png);
	background-size: 35px 650px;
	background-position: left -350px;
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.ocp_cv_bottom_block {
	width: 970px;
	margin: 0 auto;
	padding-top: 18px;
	text-align: left;
}

.ocp_cv_copyrights {
	background-image: url(image/ocp_logo.png);
	background-size: 25px 25px;
	background-position: left -2px;
	padding: 3px 0 49px 28px;
	background-repeat: no-repeat;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ocp_cv_links_block {
	float: right;
	padding: 0 19px 0 10px;
	min-width: 113px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 206px;
	line-height: 16px;
}

.ocp_cv_links_block.last {
	float: right;
	padding: 0 7px 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 210px;
}

.ocp_cv_links_block p {
	padding: 3px 0 0 0;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
}

.ocp_cv_links_block a, .ocp_cv_links_block a:link,
.ocp_cv_links_block a:visited, .ocp_cv_links_block a:hover,
.ocp_cv_links_block a:active {
	color: #7F7E7F;
	font-size: 13px;
	line-height: 16px;
	display: block;
	padding-top: 9px;
	text-decoration: none;
}

.ocp_cv_made_in {
	color: #acabab;
	font-size: 13px;
	line-height: 16px;
	background-image: url(image/france.png);
	background-position: 0px 8px;
	background-size: 50px 43px;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 0 0 0 55px;
	display: table-cell;
	vertical-align: middle;
	height: 60px;
}
