#cover_page {
	background-image: url(image/background_image.jpg);
}

.ocp_cv_top-block {
	width: 100%;
	height: 49%;
	position: absolute;
	top: 50px;
}

.ocp_cv_header {
	width: 980px;
	height: 298px;
	position: absolute;
	margin: 0 0 0 -490px;
	left: 50%;
	bottom: 0;
	text-align: center;
}

.ocp_cv_title, a.ocp_cv_title:link, a.ocp_cv_title:link,
a.ocp_cv_title:visited, a.ocp_cv_title:hover, a.ocp_cv_title:active {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #DA1A13;
	font-size: 50px;
	margin: 0;
	padding: 0;
	line-height: 68px;
	font-weight: normal;
	display: block;
	text-align: center;
}

.ocp_cv_subtitle {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	color: #646464;
	padding: 13px 0 0 0;
	margin: 0;
	font-weight: normal;
}

.ocp_cv_inputs input {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	width: 100%;
}

.ocp_cv_bottom-block {
	width: 100%;
	height: 53%;
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
}

.ocp_cv_bottom-bg {
	width: 100%;
	height: 100%;
	background-color: white;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.ocp_cv_button {
	position: absolute;
	z-index: 1;
	width: 710px;
	height: 150px;
	top: 0;
	overflow: hidden;
	margin: -75px 0 0 -355px;
	left: 50%;
	background-color: #ED2C1F;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 0 #C90101, 0 0 0 1px rgba(140,1,1,.6), 0 0 0 5px #F9F9FA;
	background-image: linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -o-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -moz-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -webkit-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -ms-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
}

.ocp_cv_mega {
	position: absolute;
	z-index: 1;
	width: 710px;
	height: 150px;
	top: 0;
	overflow: hidden;
	margin: -75px 0 0 -355px;
	left: 50%;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: center -226px;
	background-repeat: no-repeat;
}

.ocp_cv_inputs {
	position: absolute;
	z-index: 1;
	width: 760px;
	height: 160px;
	top: 0;
	overflow: hidden;
	margin: -80px 0 0 -370px;
	left: 50%;
}

.ocp_cv_txt {
	position: absolute;
	z-index: 1;
	width: 760px;
	height: 160px;
	top: 0;
	overflow: hidden;
	left: 50%;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: center -541px;
	margin: -80px 0 0 -370px;
	background-repeat: no-repeat;
}

.ocp_cv_cursor {
	width: 208px;
	height: 111px;
	right: 50%;
	top: 0;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: -4px -88px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	margin: 51px -492px 0 0;
}

.ocp_cv_shadow {
	width: 900px;
	height: 41px;
	right: 50%;
	top: 0;
	background-image: url(https://eu.static.mega.co.nz/images/en/start_sprite.png);
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	margin: 95px -450px 0 0;
}

.ocp_cv_bottom {
	height: 160px;
	background-image: url(https://eu.static.mega.co.nz/images/mega/register_sprite4.png);
	background-size: 35px 650px;
	background-position: left -350px;
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.ocp_cv_bottom-block-pad {
	width: 970px;
	margin: 0 auto;
	padding-top: 18px;
	text-align: left;
}
.ocp_cv_copyrights {
	background-image: url(https://eu.static.mega.co.nz/images/mega/register_sprite4.png);
	background-size: 35px 650px;
	background-position: left -632px;
	padding: 3px 0 49px 24px;
	background-repeat: no-repeat;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ocp_cv_bottom-links-block {
	float: right;
	padding: 0 19px 0 10px;
	min-width: 113px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 206px;
}

.ocp_cv_bottom-links-block.last {
	float: right;
	padding: 0 7px 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 210px;
}

.ocp_cv_bottom-links-block p {
	padding: 3px 0 0 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
}

.ocp_cv_bottom-links-block a, .ocp_cv_bottom-links-block a:link,
.ocp_cv_bottom-links-block a:visited, .ocp_cv_bottom-links-block a:hover,
.ocp_cv_bottom-links-block a:active {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #7F7E7F;
	font-size: 13px;
	line-height: 16px;
	display: block;
	display: block;
	padding-top: 9px
}