#cover_page {
	position: relative;
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 700px;
}

.ocp_cv_top {
	width: 100%;
	position: absolute;
	height: 44%;
	text-align: center;
}

.ocp_cv_top_block {
	width: 100%;
	position: absolute;
	bottom: 115px;
	text-align: center;
}

.ocp_cv_title, a.ocp_cv_title:link, a.ocp_cv_title:link,
a.ocp_cv_title:visited, a.ocp_cv_title:hover, a.ocp_cv_title:active {
	text-transform: uppercase;
	color: #DA1A13;
	font-size: 50px;
	margin: 0;
	padding: 0;
	line-height: 68px;
	font-weight: normal;
	display: block;
	text-align: center;
	text-decoration: none;
}

.ocp_cv_subtitle {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	color: #646464;
	padding: 13px 0 0 0;
	margin: 0;
	font-weight: normal;
}

.ocp_cv_middle {
	width: 100%;
	height: 56%;
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
}

.ocp_cv_bottom-bg {
	width: 100%;
	height: 100%;
	background-color: white;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.ocp_cv_animation {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 50%;
	width: 700px;
	height: 200px;
	margin: -100px 0 0 -350px;
	cursor: pointer;
}

.ocp_cv_animation a {
	display: block;
	width: 100%;
	height: 100%;
}

.ocp_cv_common {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 50%;
	width: 710px;
	height: 150px;
	margin: -75px 0 0 -355px;

	overflow: hidden;
	transition: width 0.5s, height 0.5s, margin 0.5s
}

.ocp_cv_button {
	background-color: #ED2C1F;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 0 #C90101, 0 0 0 1px rgba(140,1,1,.6), 0 0 0 5px #F9F9FA;
	background-image: linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -o-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -moz-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -webkit-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
	background-image: -ms-linear-gradient(top, #FF3B2B 0, #EA3124 50%, #E4231A 50%, #B60A07 85%, #AF0605 100%);
}

.ocp_cv_animation:hover ~ .ocp_cv_button {
	width: 760px;
	height: 160px;
	margin: -80px 0 0 -370px;
	transition: width 0.5s, height 0.5s, margin 0.5s
}

.ocp_cv_ocp {
	text-align: center;
	line-height: 150px;

	font-family: 'Archivo Black';
	font-style: italic;
	font-size: 100px;
	color: #FFE6E6;
	text-shadow: 1px 1px 2px #FFFFFF;
	letter-spacing: 15px;

	opacity: 1;
	transition: opacity 0.2s linear 0.3s;
}

.ocp_cv_animation:hover ~ .ocp_cv_ocp {
	opacity: 0;
	transition: opacity 0.2s;
}

.ocp_cv_txt {
	width: 760px;
	height: 160px;
	margin: -50px 0 0 -370px;

	text-align: center;
	font-size: 40px;
	font-weight: 100;
	line-height: 50px;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #550000;
	text-transform: uppercase;

	opacity: 0;
	transition: opacity 0.2s;
}

.ocp_cv_animation:hover ~ .ocp_cv_txt {
	opacity: 1;
	transition: opacity 0.2s linear 0.3s;
}

.ocp_cv_cursor {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 50%;
	width: 208px;
	height: 111px;
	margin: 51px -492px 0 0;
	transition: margin 0.5s;

	background-image: url(image/start_sprite.png);
	background-position: -4px -88px;
	background-repeat: no-repeat;
}

.ocp_cv_animation:hover ~ .ocp_cv_cursor {
	margin: 51px -457px 0 0;
	transition: margin 0.5s;
}

.ocp_cv_shadow {
	width: 900px;
	height: 41px;
	margin: 95px 0 0 -450px;

	transition: margin 0.5s;

	background-image: url(image/start_sprite.png);
	background-position: left top;
	background-repeat: no-repeat;

}

.ocp_cv_animation:hover ~ .ocp_cv_shadow {
	margin: 100px 0 0 -450px;
	transition: margin 0.5s;
}
