html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Open sans', serif;
	font-size: 14px;
	line-height: 16px;
	background-color: #D6D6D6;
}

#page {
	width: 100%;
	height: 100%;
	min-width: 800px;
}

#page_header {
	position: relative;
	width: 100%;
	height: 50px;

	background-color: #151412;
}

#ocp_logo {
	position: absolute;
	width: 150px;
	height: 50px;

	background: url(image/ocp_logo_title.png);
}

.header_button {
	margin: 12px 10px 0 0;
	float: right;
	text-decoration: none;
}

#header_menu_body a {
	height: 40px;
	display: block;
	padding: 8px 40px 0 55px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	line-height: 21px;

	background-repeat: no-repeat;
}

#header_menu_body a:hover {
	background-color: #D11E00;
	color: #FFFFFF;
}

.header_menu_settings {
	background-image: url(image/menu_sprite3.png);
	background-size: 32px 2102px;
}

.header_menu_settings[href="#general_settings"] {
	background-position: 13px -1008px;
}

.header_menu_settings[href="#general_settings"]:hover {
	background-position: 13px -918px;
}

.header_menu_settings[href="#node_supervision"] {
	background-position: 13px -820px;
}

.header_menu_settings[href="#node_supervision"]:hover {
	background-position: 13px -730px;
}



.ocp_footer {
	height: 160px;
	background-image: url(image/register_sprite4.png);
	background-size: 35px 650px;
	background-position: left -350px;
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.ocp_footer_bottom_block {
	width: 970px;
	margin: 0 auto;
	padding-top: 18px;
	text-align: left;
}

.ocp_footer_copyrights {
	background-image: url(image/ocp_logo.png);
	background-size: 25px 25px;
	background-position: left -2px;
	padding: 3px 0 49px 28px;
	background-repeat: no-repeat;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ocp_footer_links_block {
	float: right;
	padding: 0 19px 0 10px;
	min-width: 113px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 206px;
	line-height: 16px;
}

.ocp_footer_links_block.last {
	float: right;
	padding: 0 7px 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 210px;
}

.ocp_footer_links_block p {
	padding: 3px 0 0 0;
	color: #3F3E3E;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
}

.ocp_footer_links_block a, .ocp_footer_links_block a:link,
.ocp_footer_links_block a:visited, .ocp_footer_links_block a:hover,
.ocp_footer_links_block a:active {
	color: #7F7E7F;
	font-size: 13px;
	line-height: 16px;
	display: block;
	padding-top: 9px;
	text-decoration: none;
}

.ocp_footer_made_in {
	color: #acabab;
	font-size: 13px;
	line-height: 16px;
	background-image: url(image/france.png);
	background-position: 0px 8px;
	background-size: 50px 43px;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 0 0 0 55px;
	display: table-cell;
	vertical-align: middle;
	height: 60px;
}

.ocp_clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	display: block;
}

.ocp_clearfix {
	display: inline-block;
	width: 100%;
}

.ocp_button, .ocp_button:link, .ocp_button:visited, .ocp_button:active {
	display: block;
	float: right;
	height: 40px;
	width: 200px;
	padding: 1px 0 0 0;
	margin-top: 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: white;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	background-color: #D9290B;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.ocp_button:hover {
	background-color: #FF3B2B;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #E5391F;
}

.ocp_error_msg, .ocp_info_msg {
	display: block;
	padding: 10px 40px;
}

.ocp_tooltip {
	color: #E5391F;
	cursor: default;
}

.page_title {
	height: 50px;
	padding-left: 10%;
	font-size: 18px;
	line-height: 46px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}