#market_place_page {
	position: relative;
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 700px;
	font-size: 13px;
	padding: 25px 0 0px 0;
}

#market_place_page .widget_grid_container {
	overflow: hidden;
}

#ocp_mp_body {
	width: 1060px;
	padding: 1px;
	margin: 0 auto 25px;
	margin-bottom: 25px;

	background: #FBFBFB;
	border: 1px solid #dedede;
}

#ocp_mp_anounce {
	height: 340px;
	padding: 20px;
	padding-top: 0px;
}

.ocp_mp_anounce_title {
	display: block;
	height: 45px;
	padding: 5px;
	padding-left: 50px;
	font-size: 26px;
	line-height: 55px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px 15px;
}

.ocp_mp_anounce_title.buy {
	background-image: url(image/buy.png);
}

.ocp_mp_anounce_title.sell {
	background-image: url(image/sell.png);
}

.ocp_mp_anounce_list {
	width: 500px;
}

.ocp_mp_anounce_list .widget_grid_container {
	background: #FFFFFF;
}

.ocp_mp_anounce_list .widget_grid_body_row:last-child {
	border-bottom: none;
}

#ocp_mp_buy_list {
	float: left;
}

#ocp_mp_sell_list {
	float: right;
}

#market_place_page .widget_grid_header_cell {
	text-align: center;
}

[data-colname=ocp_mp_buy_volume], [data-colname=ocp_mp_sell_volume],
[data-colname=ocp_mp_buy_rate], [data-colname=ocp_mp_sell_rate] {
	text-align: right;
}

.ocp_mp_anounce_other {
	height: 30px;
	width: 500px;
	border: 1px solid #dedede;
	border-top: none;
	line-height: 29px;
	text-align: center;
	background: #FFFFFF;
}

#market_place_page .ocp_footer {
	position: relative;
}

#ocp_mp_graph {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}

#ocp_mp_svg {
	display: inline-block;
	vertical-align: top;
}

#ocp_mp_buttons {
	display: inline-block;
	width: 180px;
	margin-top: 20px;

	text-align: center;
	vertical-align: top;
}
#ocp_mp_buttons ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#ocp_mp_buttons li {
	margin: 10px;
	padding: 5px 20px;

	border: 1px solid #CCCCCC;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding-left: 35px;
	color: #555555;
}

#ocp_mp_buttons li:last-child {
	margin-top: 50px;
	margin-bottom: 15px;
}

#ocp_mp_buttons li:hover {
	background-color: #EEEEEE;
}

#ocp_mp_current_price {
	text-align: right;
	margin: 10px 10px 0px 0px;

	font-size: 11px;
	line-height: 11px;
}

#ocp_mp_current_price .arrow {
	display: inline-block;
	width: 5px;
	height: 8px;
	margin-right: 5px;
	margin-left: 5px;

	background-image: url(image/arrow.png);
	background-size: 5px 8px;
	background-repeat: no-repeat;
}

#ocp_mp_current_price .rate {
	font-weight: bold;
}

#ocp_mp_current_price .info {
	color: #AAAAAA;
}

#ocp_mp_recap {
	padding: 20px;
	clear: both;
}

#ocp_mp_recap .ocp_mp_recap_title {
	font-weight: normal;
	color: #e84a02;
	font-size: 1.2em;
	margin-bottom: 0.4em;
}

#ocp_mp_recap .recap_table {
	display: inline-block;
	width: 450px;;
	border-collapse: collapse;
}

#ocp_mp_recap .recap_table .date {
	width: 40%;
}

#ocp_mp_recap .recap_table .rate {
	width: 20%;
}

#ocp_mp_recap .recap_table .amount {
	width: 20%;
}

#ocp_mp_recap .recap_table .volume {
	width: 20%;
}

#ocp_mp_recap .recap_table th {
	font-size: 12px;
	color: #BABABA;
	font-weight: 400;
	text-align: left;
}

#ocp_mp_recap .recap_table td {
	border-bottom: 1px solid #EEEEEE;
}

#ocp_mp_recap .recap_table td.currency {
	text-align: right;
	padding-right: 10px;
}

#ocp_mp_recap1 {
	float: left;
}

#ocp_mp_recap2 {
	float: right;
}