#market_place_page {
	position: relative;
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 700px;
	font-size: 13px;
	background-color: #DDDDDD;
	padding: 25px 0 25px 0;
}

#market_place_page .widget_grid_container {
	overflow: hidden;
}

#ocp_mp_body {
	width: 960px;
	padding: 1px;
	margin: 0 auto 25px;
	margin-bottom: 25px;

	background: #FBFBFB;
	border: 1px solid #dedede;
}

#ocp_mp_anounce {
	height: 340px;
	padding: 20px;
	padding-top: 0px;
}

.ocp_mp_anounce_title {
	display: block;
	height: 45px;
	padding: 5px;
	padding-left: 50px;
	font-size: 26px;
	line-height: 55px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px 15px;
}

.ocp_mp_anounce_title.buy {
	background-image: url(image/buy.png);
}

.ocp_mp_anounce_title.sell {
	background-image: url(image/sell.png);
}

.ocp_mp_anounce_list {
	width: 450px;
}

.ocp_mp_anounce_list .widget_grid_container {
	background: #FFFFFF;
}

.ocp_mp_anounce_list .widget_grid_body_row:last-child {
	border-bottom: none;
}

#ocp_mp_buy_list {
	float: left;
}

#ocp_mp_sell_list {
	float: right;
}

.ocp_mp_anounce_other {
	height: 30px;
	width: 450px;
	border: 1px solid #dedede;
	border-top: none;
	line-height: 29px;
	text-align: center;
	background: #FFFFFF;
}

#market_place_page .ocp_footer {
	position: relative;
}

#ocp_mp_graph {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}

#ocp_mp_svg {
	display: inline-block;
	vertical-align: top;
}

#ocp_mp_buttons {
	display: inline-block;
	width: 180px;

	padding: 0px;
	margin: 0px;
	margin-top: 30px;

	list-style: none;
	vertical-align: top;
}

#ocp_mp_buttons li {
	margin: 10px;
	padding: 5px 20px;

	border: 1px solid #CCCCCC;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding-left: 35px;
	color: #555555;
}

#ocp_mp_buttons li:last-child {
	margin-top: 50px;
}

#ocp_mp_buttons li:hover {
	background-color: #EEEEEE;
}

#ocp_mp_legend {
	position: absolute;
	display: inline-block;
	width: 212px;
	height: 68px;

	font-size: 10px;

	background-color: rgba(255, 255, 255, 0.7);
}

#ocp_mp_legend tr {
	height: 20px;
}

#ocp_mp_legend td {
	vertical-align: middle;
}

#ocp_mp_legend .legend_color_box > div {
	width: 13px;
	height: 10px;
	padding: 2px;

	border: 1px solid #CCCCCC;
}

#ocp_mp_legend .legend_color {
	width: 100%;
	height: 100%;
}
