#node_supervision_page {
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	font-size: 13px;
	padding: 0px;
}

#ocp_ns_map {
  width: 100%;
  height: 100%;
}

#node_supervision_page .ocp_node_map svg {
	position: absolute;
}

#node_supervision_page .ocp_node_map .node {
	cursor: pointer;
	fill: #EEEEEE;
	stroke: #AAAAAA;
	stroke-width: 3px;
}

#node_supervision_page .ocp_node_map .node.selected {
	fill: #D11E00;
}

#node_supervision_page .ocp_node_map .node.hover {
	fill: #FFC926;
}

#node_supervision_page .ocp_node_map .transparent_node {
	fill: none;
}

#ocp_ns_sidebar table {
	width: 90%;
	margin: 0px auto 0px auto;
	border-collapse: collapse;
}

#ocp_ns_sidebar table tr {
	border-bottom: 1px solid #CECECE;
}

#ocp_ns_sidebar table th {
	min-width: 90px;
	width: 90px;
	max-width: 90px;
	text-align: right;
	padding: 15px 10px 5px 5px;

	vertical-align: top;
}

#ocp_ns_sidebar table td {
	font-size: 11px;
	text-align: left;
	padding: 15px 10px 5px 5px;
	vertical-align: top;
}

#ocp_ns_sidebar .capacity {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 200px;
}

#ocp_ns_sidebar .capacity tr {
	border: none;
}

#ocp_ns_sidebar .capacity .label {
	width: 50px;
}

#ocp_ns_sidebar .capacity td {
	padding: 0px;
	text-align: right;
}

#ocp_ns_sidebar .capacity .color, #ocp_ns_sidebar .capacity .color div {
	width: 20px;
	height: 15px;
	margin-bottom: 5px;
}

#ocp_ns_sidebar .total .color div {
	background-color: transparent;
}

#ocp_ns_sidebar .used .color div {
	background-color: #D11E00;
}

#ocp_ns_sidebar .free .color div {
	background-color: #FFC926;
}

#ocp_ns_sidebar .amount {
}

#ocp_ns_sidebar .unit {
	width: 30px;
}

#ocp_ns_sidebar .header {
	font-size: 14px;
	background-color: #D11E00;
	border: 0px;
	color: #FFFFFF;
	background-image: url(image/cloud2.png);
	background-size: 30px 30px;
	background-position: 14px center;
	padding: 15px 15px 16px 57px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 50px;
}

#ocp_ns_sidebar .content {
	overflow: auto;
	background-color: #F2F2F3;
}

#node_supervision_page {
	height: 100%;
}

#ocp_ns_pie .piece {
	stroke: #F2F2F3;
	stroke-width: 4px;
}

#ocp_ns_pie .used {
	fill: #D11E00;
}

#ocp_ns_pie .free {
	fill: #FFC926;
}

#ocp_ns_pie g {
	pointer-events: all;
}

#ocp_ns_content .header {
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 1px solid #E1E1E1;
	background-color: #FFFFFF;
}

#ocp_ns_content .header ul {
	display: inline-block;
	float: left;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	height: 100%;
}

#ocp_ns_content .header li {
	position: relative;
	display: inline-block;
	padding: 6px 8px 5px 30px;
	margin: 0px 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	background-color: #DADEE1;
	cursor: pointer;
}

#ocp_ns_content .header li img {
	position: absolute;
	top: 3px;
	left: 5px;
	width: 33px;
	height: 23px;
}

#ocp_ns_content .header li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#ocp_ns_content .header li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#ocp_ns_toggle_bar {
	height: 100%;
	background-color: #FFFFFF;
}

#ocp_ns_node_prop_content {
	height: 100%;
}

#ocp_ns_toggle_button {
	width: 15px;
	height: 15px;
	cursor: pointer;

	background-image: url(image/transfer-arrows_h.png);
	background-size: 30px 30px;
	background-position: 100% 0%;
}

#ocp_ns_toggle_button:hover {
	background-position: 100% 100%;
}

#ocp_ns_toggle_button.ocp_ns_node_prop_minimized {
	background-position: 0% 0%;
}

#ocp_ns_toggle_button.ocp_ns_node_prop_minimized:hover {
	background-position: 0% 100%;
}