.ocp_graphic svg {
	background-color: transparent;
    cursor: crosshair;
}

.ocp_graphic .graph_area {
	fill: #FFFFFF;
}

.ocp_graphic .point .circle {
	fill: none;
    stroke-width: 1.5px;
    stroke: #999999;
}

.ocp_graphic .point .shadow {
	fill: none;
    stroke-width: 1.5px;
    stroke: #DDDDDD;
}

.ocp_graphic .point .text {
	display: none;
}

.ocp_graphic .tooltip text {
	font-family: sans-serif;
    font-size: 11px;
    fill: #555555;
	text-anchor: start;
}

.ocp_graphic .tooltip rect {
	fill: rgba(167, 167, 167, 0.3);
	stroke-width: 0.1px;
	stroke: #000000;
}

.ocp_graphic .axis path {
    fill: none;
    stroke-width: 2px;
    stroke: #AAAAAA;
    shape-rendering: crispEdges;
}

.ocp_graphic .axis line {
    fill: none;
    stroke: #EEEEEE;
    shape-rendering: crispEdges;
}

.ocp_graphic .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.ocp_graphic .legend {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	white-space: nowrap;
	padding-right: 20px;

	font-size: 10px;

	background-color: rgba(255, 255, 255, 0.7);
}

.ocp_graphic .legend tr {
	height: 20px;
}

.ocp_graphic .legend td {
	vertical-align: middle;
}

.ocp_graphic .legend .legend_color_box > div {
	width: 13px;
	height: 10px;
	padding: 2px;

	border: 1px solid #CCCCCC;
}

.ocp_graphic .legend .legend_color {
	width: 100%;
	height: 100%;
}