.ocp_graphic svg {
	background-color: transparent;
    cursor: crosshair;
}

.ocp_graphic .graph_area {
	fill: #FFFFFF;
}

.ocp_graphic .point .circle {
	fill: none;
    stroke-width: 1.5px;
    stroke: #999999;
}

.ocp_graphic .point .shadow {
	fill: none;
    stroke-width: 1.5px;
    stroke: #DDDDDD;
}

.ocp_graphic .point .text {
	display: none;
}

.ocp_graphic .tooltip text {
	font-family: sans-serif;
    font-size: 11px;
    fill: #555555;
	text-anchor: start;
}

.ocp_graphic .tooltip rect {
	fill: rgba(167, 167, 167, 0.3);
	stroke-width: 0.1px;
	stroke: #000000;
}

.ocp_graphic .axis path {
    fill: none;
    stroke-width: 2px;
    stroke: #AAAAAA;
    shape-rendering: crispEdges;
}

.ocp_graphic .axis line {
    fill: none;
    stroke: #EEEEEE;
    shape-rendering: crispEdges;
}

.ocp_graphic .axis text {
    font-family: sans-serif;
    font-size: 11px;
}