#register_page {
	position: relative;
	background-image: url(image/background_image.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 700px;
	font-size: 13px;
}

.ocp_reg_block {
	width: 979px;
	margin: 0px auto;
	min-height: 520px;
}

.ocp_reg_left_block {
	width: 405px;
	margin-top: 96px;
	float: left;
	padding-bottom: 100px;
}

.ocp_reg_title {
	color: #3F3E3E;
	font-size: 20px;
	padding-top: 12px;
	float: left;
	padding-left: 2px;
}

.ocp_reg_txt {
	color: #3F3E3E;
	float: right;
	padding: 15px 4px 0 16px;
	background-image: url(image/register_sprite4.png);
	background-size: 35px 650px;
	background-repeat: no-repeat;
	background-position: left -267px;
}

.ocp_reg_txt a, .ocp_reg_txt a:link, .ocp_reg_txt a:visited, .ocp_reg_txt a:hover, .ocp_reg_txt a:active {
	color: #E5391F;
	line-height: 16px;
	text-decoration: none;
}

.ocp_reg_input_block {
	height: 50px;
	margin-top: 30px;
	padding: 7px 7px 0 43px;

	background-color: white;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 5px solid rgba(21,20,19,0.5);
	-moz-background-clip: border;
	-webkit-background-clip: border;
	background-clip: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;

	background-image: url(image/register_sprite4.png);
	background-size: 35px 650px;
	background-repeat: no-repeat;
}

.ocp_reg_input_block.first {
	margin-top: 25px;
}

.ocp_reg_input_block.login {
	background-position: 10px 10px;
}

.ocp_reg_input_block.email {
	background-position: 10px -50px;
}

.ocp_reg_input_block.password {
	background-position: 7px -102px;
}

.ocp_reg_input_block input {
	margin: 0;
	border: 0;
	background-color: white;
	width: 100%;
	outline: none;
	font-size: 16px;
	line-height: 25px;
	color: #717171;
}

.ocp_reg_pass_strength_block {
	height: 35px;
	margin-top: 10px;
}

.ocp_reg_pass_strength_line1, .ocp_reg_pass_strength_line2, .ocp_reg_pass_strength_line3, .ocp_reg_pass_strength_line4 {
	width: 90px;
	height: 5px;
	background-color: #cbcacd;
	float: left;
	margin-right: 15px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.ocp_reg_pass_strength_line4 {
	margin: 0;
}

.good1 .ocp_reg_pass_strength_line1 {
	background-color: #ff2a0b;
}

.good2 .ocp_reg_pass_strength_line1, .good2 .ocp_reg_pass_strength_line2 {
	background-color: #ffc926;
}

.good3 .ocp_reg_pass_strength_line1, .good3 .ocp_reg_pass_strength_line2, .good3 .ocp_reg_pass_strength_line3 {
	background-color: #7ab148;
}

.good4 .ocp_reg_pass_strength_line1, .good4 .ocp_reg_pass_strength_line2, .good4 .ocp_reg_pass_strength_line3, .good4 .ocp_reg_pass_strength_line4 {
	background-color: #7dd016;
}

.ocp_reg_pass_txt {
	display: none;
	float: right;
	-moz-text-shadow: 0px 1px 1px #FFF;
	-webkit-text-shadow: 0px 1px 1px #FFF;
	text-shadow: 0px 1px 1px #FFF;
	color: #6C9D3F;
	line-height: 25px;
}

.checkboxOff {
	width: 30px;
	height: 30px;
	background-image: url(image/register_sprite4.png);
	background-size: 35px 650px;
	background-repeat: no-repeat;
	background-position: left -167px;
	float: left;
	cursor: pointer;
}

.checkboxOn {
	width: 30px;
	height: 30px;
	background-image: url(image/register_sprite4.png);
	background-size: 35px 650px;
	background-repeat: no-repeat;
	background-position: left -215px;
	float: left;
	cursor: pointer;
}

#register_page input[type="checkbox"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-moz-appearance: none;
}

.ocp_reg_terms_text {
	color: #3F3E3E;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

#register_page .ocp_button {
	width: 405px;
}

.ocp_reg_right_block {
	width: 400px;
	float: right;
	padding: 42px 38px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ocp_reg_bg {
	height: 400px;
	background-image: url(image/register_bg.png);
	background-repeat: no-repeat;
	background-position: 23px 67px;
}

.ocp_reg_right_txt1 {
	font-family: 'Open Sans Semibold', Arial;
	font-size: 18px;
	line-height: 34px;
	color: #3b3b3b;
	padding: 16px 0 0 0;
	text-align: center;
}

.ocp_reg_rigth_txt2 {
	font-family: 'Open Sans Semibold', Arial, Helvetica;
	font-size: 18px;
	line-height: 24px;
	color: #D9290B;
	padding: 4px 0 0 0;
	text-align: center;
}