# Activate URL rewriting
RewriteEngine on

RewriteRule ^node/[^/]+/?$							ocp1/endpoint/index.php [L]
RewriteRule ^node/[^/]+/endpoint/?$					ocp1/endpoint/index.php [L]
RewriteRule ^node/[^/]+/endpoint/([^\?/]+)(.*) 		ocp1/endpoint/$1.php$2 [L]


